Crash_Soap-App/crash_InlineSchema1.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/crash/" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/crash/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
      <xsd:element ibmSchExtn:docRoot="true" name="crash_input_log">
        <xsd:complexType>
          <xsd:sequence>
          	<xsd:element name="Days" type="xsd:string" />
          	<xsd:element name="Number_of_Crashes" type="xsd:string"></xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element ibmSchExtn:docRoot="true" name="crash_Output_log">
        <xsd:complexType>
          <xsd:sequence>
          	<xsd:element name="Days" type="xsd:string" />
          	<xsd:element name="Number_OF_crashes" type="xsd:string"></xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>